TELEGRAM_BOT_TOKEN=123456:your_bot_token
TELEGRAM_ADMIN_ID=123456789
CHANNEL_URL=https://t.me/your_channel
PORT=8080
MONGO_URL=mongodb+srv://username:password@cluster.example.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=auto_join_acceptor